.creditCard {
  background: linear-gradient(to right, rgb(91, 90, 111), rgb(0, 0, 0));
  width: 330px;
  color: white;
  border-radius: 30px;
  margin: 20px;
  text-align: left;
}

.firstLine {
  display: flex;
  gap: 61%;
  padding-left: 23px;
  padding-top: 20px;
  padding-bottom: 8px;
}

.check {
  font-weight: lighter;
  font-size: smaller;
  line-height: 8px;
  padding-top: 2px;
}

.number {
  font-weight: 500;
  font-size: larger;
}

.logo.chip {
  width: 36px;
}

.secondLine {
  display: flex;
  gap: 55px;
  padding-left: 23px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.holders {
  opacity: 0.6;
  font-weight: 400;
  font-size: 12px;
  font-family: sans-serif;
}

.name {
  font-weight: 500;
  font-size: 15px;
  font-family: sans-serif;
}

.times {
  opacity: 0.7;
  font-weight: 400;
  font-size: 12px;
}

.date {
  font-weight: 400;
  font-size: 14px;
  font-family: sans-serif;
}

.cardNumber {
  background: linear-gradient(to right, rgb(105, 104, 121), rgb(25, 24, 24));
  display: flex;
  gap: 55px;
  padding-left: 28px;
  padding-top: 15px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.details {
  font-weight: 500;
  font-size: 21px;
  padding-top: 2px;
  font-family: sans-serif;
}

.icon {
  display: flex;
  padding-bottom: 20px;
}

.round1 {
  height: 30px;
  width: 30px;
  background-color: white;
  border-radius: 100%;
  opacity: 0.5;
}

.round2 {
  margin-left: -16px;
  height: 30px;
  width: 30px;
  background-color: white;
  border-radius: 100%;
  opacity: 0.5;
}
